$white: #d5d5d5;
$white-two: #f1f1f1;
$white-three: #f3f3f3;
$white-four: #f2f2f2;
$pale-grey: #e8eef4;
$warm-grey: #959595;
$some-other-grey: #999999;
$some-other-fking-grey: #eaeaea;
$some-other-fking-grey-2: #cbcbcb;
$orangish: #f87b3d;
$orange: #f5a21b;
$light-orange: #fdd258;
$orangery-yellow: #fabf13;
$light-yellow: #ffd953;
$seafoam-blue: #5ab9d1;
$greyish-brown: #4c4948;
$darker-greyish-brown: #4d4948;
$light-brown: #756023;
$light-grey: #acacac;
$lightish-orange: rgba(255, 150, 12, 1);

$primary: $orangery-yellow;
$secondary: $seafoam-blue;
$warning: $orangish;

$orangeLighter: $light-yellow;
$orangeDark: $orangish;
$orange: $orange;
$orangeLight: $light-orange;

$lightOrange: $lightish-orange;

$brown: $light-brown;

$whiteOne: $white;
$whiteTwo: $white-two;
$whiteThree: $white-three;
$whiteFour: $white-four;

$greyOne: $pale-grey;
$greyTwo: $warm-grey;
$greyThree: $greyish-brown;
$greyFour: #ededed;
$greyFive: #b2b2b2;
$greySix: $some-other-grey;
$greySeven: $darker-greyish-brown;
$greyEight: $light-grey;
$greyNine: $some-other-fking-grey;
$greyTen: $some-other-fking-grey-2;

$black: #000;

$loginInputMarginTop: 30px;

$xxl-breakpoint: 1440px;
$xl-breakpoint: 1200px;
$lg-breakpoint: 992px;
$md-breakpoint: 768px;
$sm-breakpoint: 576px;

$spacing-xs: 4px;
$spacing-s: 8px;
$spacing-m: 12px;
$spacing-l: 16px;
$spacing-xl: 20px;
$spacing-xxl: 24px;
$spacing-xxxl: 28px;

$fz-xs: 0.75rem;
$fz-s: 0.875rem;
$fz-m: 1rem;
$fz-l: 1.125rem;
$fz-xl: 1.25rem;
$fz-xxl: 1.5rem;
