$namespace: 'xmx'; // change the 'mx' to 'xmx'. then <date-picker prefix-class="xmx" />

$default-color: $greyTwo !default;
$primary-color: $orangeDark !default;

$today-color: mix(#fff, $primary-color, 10%) !default;

$popup-z-index: 2001 !default;

$input-border-color: transparent !default;
$input-color: $greyTwo !default;
$input-hover-border-color: transparent !default;

$disabled-color: #ccc !default;
$disabled-background-color: #f3f3f3 !default;

$border-color: $primary-color !default;

$calendar-active-color: #fff !default;
$calendar-active-background-color: $primary-color !default;

$calendar-hover-color: $default-color !default;
$calendar-hover-background-color: mix(
  #fff,
  $calendar-active-background-color,
  95%
) !default;

$calendar-in-range-color: $default-color !default;
$calendar-in-range-background-color: mix(
  #fff,
  $calendar-active-background-color,
  85%
) !default;

$time-active-color: $primary-color !default;
$time-active-background-color: transparent !default;

$time-hover-color: $default-color !default;
$time-hover-background-color: mix(
  #fff,
  $calendar-active-background-color,
  95%
) !default;
